<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EveOn"
        tools:targetApi="31">
        <activity
            android:name=".activitiesandfragments.CardViewFully"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="@string/facebook_app_id"> -->
        <!-- </meta-data> -->
        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ClientToken" -->
        <!-- android:value="@string/facebook_client_token" -->
        <!-- /> -->
        <activity
            android:name=".activitiesandfragments.p_details"
            android:exported="false" />
        <activity
            android:name="pages.forgotpassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="pages.SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="pages.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesandfragments.AddingEvent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitiesandfragments.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitiesandfragments.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>